/* Auth Component
 *
 */

 .bg-auth{
    background: rgba(35,13,45,1);
    background-color: linear-gradient(180deg, rgba(35,13,45,1) 0%, rgba(71,44,102,1) 100%);
}
.auth{
    padding-top: 100px;
}
.auth .text-container h1{
    font-size: 64px;
    padding: 10px;
}
.auth-card{
    z-index: 99;
    background-color: #40265B;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.form-group{
    margin: 20px auto;
}